{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'registration/login/style.css' %}">
	<title>بازیابی رمز عبور</title>
</head>
<body>
	<div class="error_2" style="display:none;"></div>
	<div class="form-wrapper" style="height: 300px;">
		<form class="wrapper" method="post">{% csrf_token %}
			{% if form.non_field_errors %}
				{% for error in form.non_field_errors %}
					<div class="error" style="color:#fff;">{{error}}</div>
				{% endfor %}
			{% endif %}
			<h1 class="title" style="font-size: 30px;">بازیابی رمز عبور</h1>
			<div class="name" id="item">
			    <div class="name">ایمیل</div>
				{{form.email}}
				{% if form.email.error %}
					{% for error in form.email.error %}
						<div class="error_2">{{ error }}</div>
					{% endfor %}
				{% endif %}
			</div>
			<button type="submit" style="margin-top: 53px;">ارسال لینک</button>
		</form>
	</div>
	<script type="text/javascript" src="{% static 'registration/login/js.js' %}"></script>
</body>
</html>_