<!DOCTYPE html>
<html dir="rtl">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>تقاضای ریست رمز</title>
</head>
<body>
	<div class="wrapper">
		<h1>تقاضای ریست رمز فرستاده شد</h1>
		<p>
			دستورالعمل تنظیم گذرواژه را برایتان ایمیل کردیم. اگر با ایمیلی که وارد کردید اکانتی وجود داشته باشد باید به زودی این دستورالعمل ها را دریافت کنید.
		</p>
		<p>
			اگر ایمیلی دریافت نمی کنید، لطفاً بررسی کنید که آدرسی که وارد کرده اید همان است که با آن ثبت نام کرده اید، و پوشهٔ اسپم خود را نیز چک کنید.
		</p>
	</div>
</body>
</html>