{% extends 'blog/base.html' %}
{% load comment_tags %}
{% load ratings %}
{% load static %}
{% block title %}{{object.title}}{% endblock %}
{% block main %}
	<!-- start the header section -->
	<header style="background:none; display: flex !important;">
		<div class="bg2" style="background-image: url({{object.thumbnail.url}});"></div>
		<h1 class="title" style="font-size: 45px;">{{object.title}}</h1>
		<div class="author-description" style="color: #fff;">نویسنده <a href="{%  url 'blog:author' object.user %}" style="color: #00b7ff; font-weight: bolder;">{{object.user.get_full_name}}</a> در <p class="time">{{object.publish}}</p></div>
		<div class="category" style="font-weight: bolder; margin: -30px auto 0px auto;">
			{% for cate in article.category.Active %}
				<a href="{% url 'blog:category' cate.slug %}" style="color: #fff;">#{{cate.title}}</a>
			{% endfor %}	
		</div>
		<p style="margin-top: -15px;">{% ratings object %}</p>
		<div class="hits" style="color:#fff; margin-top: -15px;">
			بازدید ها : {{object.hits.count}}
		</div>
	</header>
	<!-- end the header section -->
	<!-- start the main section -->
	<div class="main-body">
		<div class="articles-wrapper">
			<div class="wrapper">
				<div class="line-wrapper">
					<div class="line" style="--per: {{object.Graph.graph_number_1}};">
						<p class="text">{{object.Graph.graph_number_1}}</p>
						<div class="img" style="background-image: url({{object.Graph.graph_image_1.url}});"></div>
					</div>
					<div class="line" style="--per: {{object.Graph.graph_number_2}};">
						<p class="text">{{object.Graph.graph_number_2}}</p>
						<div class="img" style="background-image: url({{object.Graph.graph_image_2.url}});"></div>
					</div>
					<div class="line" style="--per: {{object.Graph.graph_number_3}};">
						<p class="text">{{object.Graph.graph_number_3}}</p>
						<div class="img" style="background-image: url({{object.Graph.graph_image_3.url}});"></div>
					</div>
					<div class="line" style="--per: {{object.Graph.graph_number_4}};">
						<p class="text">{{object.Graph.graph_number_4}}</p>
						<div class="img" style="background-image: url({{object.Graph.graph_image_4.url}});"></div>
					</div>
					<div class="line" style="--per: {{object.Graph.graph_number_5}};">
						<p class="text">{{object.Graph.graph_number_5}}</p>
						<div class="img" style="background-image: url({{object.Graph.graph_image_5.url}});"></div>
					</div>
					<div class="line" style="--per: {{object.Graph.graph_number_6}};">
						<p class="text">{{object.Graph.graph_number_6}}</p>
						<div class="img" style="background-image: url({{object.Graph.graph_image_6.url}});"></div>
					</div>
					<div class="line" style="--per: {{object.Graph.graph_number_7}};">
						<p class="text">{{object.Graph.graph_number_7}}</p>
						<div class="img" style="background-image: url({{object.Graph.graph_image_7.url}});"></div>
					</div>
					<div class="line" style="--per: {{object.Graph.graph_number_8}};">
						<p class="text">{{object.Graph.graph_number_8}}</p>
						<div class="img" style="background-image: url({{object.Graph.graph_image_8.url}});"></div>
					</div>
					<div class="line" style="--per: {{object.Graph.graph_number_9}};">
						<p class="text">{{object.Graph.graph_number_9}}</p>
						<div class="img" style="background-image: url({{object.Graph.graph_image_9.url}});"></div>
					</div>
					<div class="line" style="--per: {{object.Graph.graph_number_10}};">
						<p class="text">{{object.Graph.graph_number_10}}</p>
						<div class="img" style="background-image: url({{object.Graph.graph_image_10.url}});"></div>
					</div>
				</div>
				<div class="name-wrapper">
					<div class="name">
						<p>{{object.Graph.graph_name_1}}</p>
					</div>
					<div class="name">
						<p>{{object.Graph.graph_name_2}}</p>
					</div>
					<div class="name">
						<p>{{object.Graph.graph_name_3}}</p>
					</div>
					<div class="name">
						<p>{{object.Graph.graph_name_4}}</p>
					</div>
					<div class="name">
						<p>{{object.Graph.graph_name_5}}</p>
					</div>
					<div class="name">
						<p>{{object.Graph.graph_name_6}}</p>
					</div>
					<div class="name">
						<p>{{object.Graph.graph_name_7}}</p>
					</div>
					<div class="name">
						<p>{{object.Graph.graph_name_8}}</p>
					</div>
					<div class="name">
						<p>{{object.Graph.graph_name_9}}</p>
					</div>
					<div class="name">
						<p>{{object.Graph.graph_name_10}}</p>
					</div>					
				</div>
			</div>
			<div class="article-wrapper" style="height: initial !important;">
				<div class="right">
					<p class="description" style="text-align: justify !important;">
						{{object.description|safe}}
					</p>
					<div class="comment">
						{% render_comments object request %}
						{% include_bootstrap %}
					</div>					
				</div>
			</div>
		</div>
	</div>
</div>
	<!-- end the main section -->
{% endblock %}
