<div class="left">
	<div class="btn"><i class="fa fa-bars"></i> آموزش</div>
	<ul>
		<li style="display:flex; align-items: center; justify-content: flex-end;">
			<div class="s128" style="min-height: 20px; height: 20px; background-color: transparent;">
		      <form action="{% url 'blog:search' %}">
		        <div class="inner-form">
		          <div class="row" style="width: 360px;">
		            <div class="input-field first" id="first" style="justify-content: flex-end;">
		              <input class="input input-specail" name='q' style="z-index: 20; font-family: tanha;" id="inputFocus" type="text" placeholder="جستجوی مقاله" />
		              <button type="submit"  class="clear">
		                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
		                  <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
		                </svg>
		              </button>
		            </div>
		          </div>
		        </div>
		      </form>
		    </div>
		</li>	
		<li>
			<a href="{% url 'blog:home' %}">خانه</a>
		</li>
		{% for cate in category %}
		<li>
			<a href="{% url 'blog:category' cate.slug %}">{{cate.title}}</a>
		</li>
		{% endfor %}
	</ul>
</div>